extends layout

block content
  h1= title
  p Welcome to #{title}
  if show
    form(method='post')
      p Jaka jest Twoja ulubiona pora roku?
      ul
        each item in quizzes
          li 
            label=item.title
            input(type='radio' name='quiz' value=item._id)
      input(type='submit' value='Zagłosuj')
      p Aby zobaczyć wyniki oddaj głos
  else 
    h2 Dziękujemy za oddanie głosu
    p Wyniki ankiety
    p "Jaka jest Twoja ulubiona pora roku?"
    ul
      each item in quizzes
        li #{item.title} głosów: #{item.vote} ( #{Math.round(item.vote/sum*100)}% ) 

    p Głosów oddano: #{sum}
